
    <div class="toolbar">
        <div class="uou-block-1a blog">
            <div class="container">
                <div class="search"><a href="#" class="toggle fa"></a>
                    <form action="#">
                        <input type="text" class="search-input" placeholder="Search ...">
                        <input type="submit" value="">
                    </form>
                </div>

            </div>
        </div>
        <!-- end .uou-block-1a -->
    </div>
    <div class="box-shadow-for-ui">
        <div class="uou-block-2b">
            <div class="container"><a href="#/profile_user/id=1" class="logo"><img src="resource/user/images/Logo2.png" alt=""></a> <a
                    href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
                <nav class="nav">
                    <ul class="sf-menu">
                        <li class="active"><a href="index.html"><i class="fa  fa-home"></i></a></li>
                        <li><a href="#profile_company">Company Profile</a>
                            <ul>
                                <li><a href="#">Profile Company</a></li>
                                <li><a href="profile_company-no-tabs.html">Profile Company No Tabs</a></li>
                                <li><a href="user-dashboard(connections)(hotkeys-disabled).html">User Dashboard 1</a>
                                </li>
                                <li><a href="user-dashboard(connections)(hotkeys-enabled).html">User Dashboard 2</a>
                                </li>
                                <li><a href="user-dashboard(followers).html">User Dashboard 3</a></li>
                                <li><a href="user-dashboard(following).html">User Dashboard 4</a></li>
                                <li><a href="blog-post.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <li><a href="#/profile_user/id=1921126474">User Profile</a></li>


                    </ul>
                </nav>
            </div>
        </div>
        <!-- end .uou-block-2b -->
    </div>

