<!--<div class="toolbar">-->
<!--<div class="uou-block-1a blog">-->
<!--<div class="container">-->
<!--<div class="search"> <a href="#" class="toggle fa fa-search" ng-click="isToggle = !isToggle"></a>-->
<!--<form>-->
<!--<input type="text" placeholder="Search ...">-->
<!--<input type="submit" value="">-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div >-->
<!--&lt;!&ndash; end .uou-block-1a &ndash;&gt;-->
<!--</div>-->
<div class="top-toolbar" ng-controller="NavController">
    <div class="container">
        <div class="searchUser">
            <form ng-if ="nav()" ng-submit="Search(search)">
                <input type="text" placeholder="Search..." ng-model="search">

            </form>
        </div>
    </div>
</div>
<div class="box-shadow-for-ui" ng-controller="NavController">
    <div class="uou-block-2b">
        <div class="container"><a href="" class="logo"><img src="resource/user/images/Logo2.png"
                                                                               alt=""></a> <a
                href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
            <nav class="nav" ng-if="nav()" >
                <ul class="sf-menu">
                    <!--<li class="active"><a href="#home"><i class="fa fa-home"></i></a></li>-->
                    <li ng-if="auth"><a href="" ng-click="checkCompany()">Company Profile</a>

                    </li>
                    <li ng-if="!auth"><a href="" ng-click="checkUser()"  >User Profile</a></li>
                    <li  ng-show="nav()" ><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

