<div id="main-wrapper">

    <!-- HOME PRO-->
    <div class="home-pro">

        <!-- PRO BANNER HEAD -->
        <div class="banr-head">
            <div class="container">
                <div class="row">

                    <!-- CONTENT -->
                    <div class="col-sm-7">
                        <div class="text-area">
                            <div class="position-center-center col-md-10">
                                <h1> Need to find job listings fast?</h1>
                                <h6>The job website e-PORTFOLIO.com is an excellent resource for finding job listings
                                    quickly. </h6>
                            </div>
                        </div>
                    </div>

                    <!-- FORM SECTION -->
                    <div class="col-sm-5">
                        <div class="login-sec">

                            <div class="uou-tabs">
                                <ul class="tabs">
                                    <li  ng-click="isLogAndRes = true"><a href="#register" data-toggle="modal" data-target="#exampleModal321">Register
                                        Now</a></li>
                                    <li class="active" ng-click="isLogAndRes = false"><a href="#log-in">Member Login</a></li>
                                </ul>

                                <!-- REGISTER -->
                                <div class="content" >
                                    <div id="register" class="active" ng-show="isLogAndRes">
                                        <form >
                                            <input type="text" placeholder="Enter dtu_id..." ng-model="dtu_id">
                                            <input type="text" placeholder="Enter username..." ng-model="usernameRegister">
                                            <input type="email" placeholder="Email Address..." ng-model="emailRegister" >
                                            <input type="password" placeholder="Enter password..." ng-model="passRe">
                                            <input type="password" placeholder="Enter password again..." ng-model="passwordAgain">
                                            <button type="submit"  ng-click="post()">Register</button>
                                            <div class="login-with"> <span>Who are you ? </span>
                                                <a href=""><i class="fa fa-user"></i></a>
                                                <a href=""><i class="fa fa-home"></i></a>
                                            </div>
                                        </form>
                                        <div class="err">
                                            {{error}}
                                        </div>

                                    </div>

                                    <!-- LOGIN -->
                                    <div id="log-in" class="active" ng-show="!isLogAndRes">
                                        <form>
                                            <input type="text" placeholder="Email Address or user..."
                                                   ng-model="emailVsUser">
                                            <input type="password" placeholder="Password" ng-model="password">
                                            <button type="submit" ng-click="login()">Login</button>
                                            <!--<div class="login-with"> <span>Or login with:</span> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-google"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> </div>-->
                                            <div class="forget">Forgot your password? <a href="" data-toggle="modal"
                                                                                         data-target="#exampleModalForget" ng-click=forget()>Click
                                                Here</a></div>
                                        </form>
                                    </div>
                                    <div id="forget">
                                        <form>
                                            <input type="email" placeholder="Email Address">
                                            <button type="submit">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SERVICES -->
        <section class="services">

            <!-- SERVICES ROW -->
            <ul class="row">

                <!-- SECTION -->
                <li class="col-md-4">
                    <div class="ser-inn">
                        <i class="fa fa-globe"></i>
                        <h4>Convenient for finding online</h4>
                        <i class="fa fa-globe big"></i>
                        <p>Your information may be posted on this website and
                            will be confirmed online through the person responsible for your subjects.</p>
                    </div>
                </li>

                <!-- SECTION -->
                <li class="col-md-4">
                    <div class="ser-inn">
                        <i class="fa fa-book"></i>
                        <h4>Update new information from companies</h4>
                        <i class="fa fa-book big"></i>
                        <p>Companies always update enrollment information on the e-Portfolio.</p>
                    </div>
                </li>

                <!-- SECTION  -->
                <li class="col-md-4">
                    <div class="ser-inn">
                        <i class="fa fa-picture-o"></i>
                        <h4>Knowing the quality of the
                            students when the school</h4>
                        <i class="fa fa-picture-o big"></i>
                        <p>Teachers can monitor the quality of schools.</p>
                    </div>
                </li>
            </ul>
        </section>

        <!-- PRO SECTION -->
        <section class="pro-content">
            <div class="container-fluid">
                <div class="row">

                    <!-- PRO IMAGE -->
                    <div class="col-md-6 pro-inside"
                         style="background:url(resource/user/images/img1.jpg) center center no-repeat" ;
                    ></div>

                    <!-- PRO CONTENT -->
                    <div class="col-md-6 pro-inside">
                        <div class="position-center-center col-md-6">
                            <h1>
                                International faculty</h1>
                            <p> International Training Faculty role as a bridge between
                                Duy Tan University with partners overseas education reputable. More than 15 universities
                                around the world, welcomed hundreds of delegates from the school to visit and
                                exchange. </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRO SECTION -->
            <div class="container-fluid">
                <div class="row">

                    <!-- PRO TEXT -->
                    <div class="col-md-6 pro-inside">
                        <div class="position-center-center col-md-6">
                            <h1>Wide infrastructure and modern</h1>
                            <p> Duy Tan University has 6 training base in Da Nang City with a total area of 36 hectares.
                                Physical facilities and teaching facilities are equipped to ensure training needs
                                students. </p>
                        </div>
                    </div>

                    <!-- PRO BACKGROUND -->
                    <div class="col-md-6 pro-inside"
                         style="background:url(resource/user/images/img2.jpg) center center no-repeat;"
                    ></div>
                </div>
            </div>
        </section>

        <!-- APP IMAGE -->
        <section class="app-images">
            <div class="container">
                <div class="row">

                    <!-- TEXT -->
                    <div class="col-md-6 text-center text-area">
                        <h1>E-PORTFOLIO
                        </h1>
                        <p>Website is essential for the newly graduated students or looking for places to practice. </p>
                        <a href="#."><i class="fa fa-book"></i>Register Now</a></div>

                    <!-- APP IMAGE -->
                    <div class="col-md-6 text-right"><img src="resource/user/images/app-img.png" alt=""></div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIALS -->


        <!-- sponsors -->
        <div class="sponsors" style="background:url(resource/user/images/sponser-bg.jpg) no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">INTERNATIONAL SCHOOLS</h3>
                        <div class="sponsors-slider">
                            <div class="row">
                                <div class="col-sm-2"><img src="resource/user/images/sponsor_logo1.png" alt=""
                                                           class="img-responsive"></div>
                                <div class="col-sm-2"><img src="resource/user/images/sponsor_logo2.png" alt=""
                                                           class="img-responsive"></div>
                                <div class="col-sm-2"><img src="resource/user/images/sponsor_logo3.png" alt=""
                                                           class="img-responsive"></div>
                                <div class="col-sm-2"><img src="resource/user/images/sponsor_logo4.png" alt=""
                                                           class="img-responsive"></div>
                                <div class="col-sm-2"><img src="resource/user/images/sponsor_logo5.png" alt=""
                                                           class="img-responsive"></div>
                                <div class="col-sm-2"><img src="resource/user/images/sponsor_logo6.png" alt=""
                                                           class="img-responsive"></div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>-->
    <!--$('#exampleModal321').on('show.bs.modal', function (event) {-->
        <!--var button = $(event.relatedTarget);-->
        <!--var recipient = button.data('whatever');-->
        <!--var modal = $(this);-->
        <!--modal.find('.modal-title').text('Register');-->
        <!--modal.find('.modal-body input').val(recipient);-->
    <!--})-->
<!--</script>-->

<!--<div class="form-group">-->
    <!--<div class="bd-example">-->
        <!--<div class="modal fade" id="exampleModal321" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
             <!--aria-hidden="true">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                        <!--<h4 class="modal-title" id="exampleModalLabel">Register Now</h4>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<form>-->
                            <!--<div class="form-group">-->
                                <!--<label class="form-control-label">Username :</label>-->
                                <!--<input type="text" class="form-control" placeholder="Enter Username... "-->
                                       <!--ng-model="usernameRegister">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="form-control-label">Email :</label>-->
                                <!--<input type="email" class="form-control" placeholder="Enter Email..."-->
                                       <!--ng-model="emailRegister">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="form-control-label">DTU id :</label>-->
                                <!--<input type="text" class="form-control" placeholder="Enter dtu id..." ng-model="dtu_id">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="form-control-label">password :</label>-->
                                <!--<input type="password" class="form-control" placeholder="Enter password ... "-->
                                       <!--ng-model="passRe">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="form-control-label">password again :</label>-->
                                <!--<input type="password" class="form-control" placeholder="Enter password again... "-->
                                       <!--ng-model="passwordAgain">-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                        <!--<button type="button" class="btn btn-primary" ng-click="post()">Register</button>-->
                        <!--<div class="accept">-->
                            <!--{{accept}}-->
                            <!--<div class="err">-->
                                <!--{{error}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="form-group">
    <div class="bd-example">
        <div class="modal fade" id="exampleModalForget" tabindex="-1" role="dialog" aria-labelledby="exampleForget"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" ng-click="isToggleForget=!isToggleForget" class="close"
                                data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleForget">Enter Email Now</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group" ng-show="isToggleForget">
                                <label class="form-control-label">Email :</label>
                                <input type="text" class="form-control" placeholder="Enter Email... "
                                       ng-model="emailForget">
                            </div>
                            <div class="acceptForget">
                                {{acceptForget}}
                            </div>
                            <div class="errForget">
                                {{errForger}}
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeForget()">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="SubForgetPass()">Submit</button>
                        <div class="accept">
                            {{accept}}
                            <div class="err">
                                {{error}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




