<ul class="row" ng-repeat="lang in langs">
    <li class="col-sm-3">
        <h6><a href="" ng-click="changeform(lang.id)"><i class="fa fa-edit"></i></a>{{lang.name}}:</h6>
    </li>
    <li class="col-sm-9">
        <div class="row">
            <div class="col-sm-9"> {{lang.level}}!</div>
            <div class="col-sm-3">
                <!--<a><i class="edit-pen fa fa-remove" ng-click="changeform()">-->
                <!--</i></a>-->
                <a href="" ng-click="deleteLang(lang.id)" ><i class="edit-pen fa fa-remove">
                </i></a>
            </div>
        </div>
    </li>
</ul>
<br>

<br>
<ul class="row">
    <li class="col-sm-4">
        <input type="button" class="btn btn-primary"
               data-toggle="modal" data-target="#exampleModal1"
               value="ADD LANGUAGE">
    </li>
    <li class="col-sm-8">
    </li>
</ul>