<!-- end .uou-block-2b -->

<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>Update Skill</h2>
        </div>
    </div>
</div>


<!-- Compny Profile -->
<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->
                <div class="col-md-4">
                    <!-- Company Information -->
                    <div class="sidebar">
                        <h5 class="main-title">My Picture</h5>
                        <div class="sidebar-thumbnail"><img
                                src="{{picture}}"
                                alt=""></div>
                        <div class="sidebar-information">
                            </br>
                            <div>
                                <!-- Professional Details -->
                                <h5 class="main-title">Professional Details</h5>
                                <div class="sidebar-information">
                                    <ul class="single-category">
                                        </br>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Student ID</h6>
                                            <span class="subtitle col-xs-6">{{user.dtu_id}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">First name</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.firstName)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Last name</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.lastName)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Birthday</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.birthDay)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Address</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.address)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Degree</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.degree)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Sex</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.sex)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Phone</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.phone)}}</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">E-mail</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.email)}}</a></span>
                                        </li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Status</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(user.status)}}</a></span>
                                        </li>
                                    </ul>

                                </div>
                                <!-- Rating -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="col-md-8">
                    <div class="network">
                        <div class="tab-content">

                            <!-- Connections -->
                            <div class="tab-pane fade in active">
                                <div class="net-work-in">

                                    <!-- Members -->
                                    <div class="main-mem">
                                        <div class="sidebar">
                                            <h5 class="main-title">Skills</h5>
                                            <div class="job-skills">
                                                <div class="row" ng-if="!statusSkill.toggle"
                                                     ng-include="'src/scripts/user/profile_user/update_skill/form.content.skill.html'">
                                                </div>
                                                <div class="row" ng-if="statusSkill.toggle"
                                                     ng-include="'src/scripts/user/profile_user/update_skill/form.edit.skill.html'">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidebar">
                                            <h5 class="main-title">Language</h5>
                                            <div class="job-skills">
                                                <div class="row" ng-if="!status.toggle"
                                                     ng-include="'src/scripts/user/profile_user/update_skill/form.content.language.html'">
                                                </div>
                                                <div class="row" ng-if="status.toggle"
                                                     ng-include="'src/scripts/user/profile_user/update_skill/form.edit.language.html'">
                                                </div>
                                                </ul>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="back"><a href="" ng-click="doTheBack()">Back</a></div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('show.bs.modal1', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
<script>
    $('#exampleModal1').on('show.bs.modal1', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>


<div class="form-group">

    <div class="bd-example">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Add skill</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name1" class="form-control-label">Skill:</label>
                                <input type="text" class="form-control" id="recipient-name1"
                                       placeholder="Enter skill..." ng-model="editSkill.name">
                            </div>

                            <div class="form-group">
                                <label for="recipient-name1" class="form-control-label">Levels Skill:</label>
                                <form>
                                    <!--<input class="datalist" type="text" list="levels1"-->
                                    <!--ng-model="editSkill.level" placeholder="Choose level ..."/>-->
                                    <!--<datalist id="levels1">-->
                                    <!--<option value="Beginner"/>-->
                                    <!--<option value="Elementary"/>-->
                                    <!--<option value="Intermediate"/>-->
                                    <!--<option value="Advanced"/>-->
                                    <!--<option value="Proficient"/>-->
                                    <!--</datalist>-->
                                    <select ng-model="editSkill.level" name='menu'>
                                        <option value='Beginner'>Beginner</option>
                                        <option value='Elementary'>Elementary</option>
                                        <option value='Intermediate'>Intermediate</option>
                                        <option value='Advanced'>Advanced</option>
                                        <option value='Proficient'>Proficient</option>
                                    </select>
                                </form>
                            </div>


                        </form>
                    </div>
                    {{updateSkill}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="createSkill()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="bd-example">
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel1">Add Language</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label class="form-control-label">Language:</label>
                                <!--<input type="text" class="form-control" placeholder="Enter name language..." id="recipient-name2"-->
                                <!--ng-model="editLang.name">-->
                                <select ng-model="editLang.name" name='menu'>
                                    <option value='Afrikaans'>Afrikaans(AF)</option>
                                    <option value='Albanian'>Albanian (SQ)</option>
                                    <option value='Arabic'>Arabic (AR)</option>
                                    <option value='Armenian'>Armenian (HY)</option>
                                    <option value='Basque'>Basque (EU)</option>
                                    <option value='Bengali'>Bengali (BN)</option>
                                    <option value='Bulgarian'>Bulgarian (BG</option>
                                    <option value='Catalan'>Catalan (CA</option>
                                    <option value='Cambodian'>Cambodian (KM)</option>
                                    <option value='Chinese'>Chinese (ZH)</option>
                                    <option value='Croatian'>Croatian (HR)</option>
                                    <option value='Czech'>Czech (CS)</option>
                                    <option value='Danish'>Danish (DA)</option>
                                    <option value='Dutch'>Dutch (NL)</option>
                                    <option value='English'>English (EN)</option>
                                    <option value='Estonian'>Estonian (ET</option>
                                    <option value='Fiji'>Estonian (ET</option>
                                    <option value='Finnish'>Finnish (FI)</option>
                                    <option value='French'>French (FR)</option>
                                    <option value='Georgian'>Georgian (KA</option>
                                    <option value='German'>German (DE)</option>
                                    <option value='Greek'>Greek (EL)</option>
                                    <option value='Gujarati'>ujarati (GU'</option>
                                    <option value='Greek'>Greek (EL)</option>
                                    <option value='Gujarati'>Gujarati (GU)</option>
                                    <option value='Hebrew'>Hebrew (HE)</option>
                                    <option value='Hindi'>Hindi (HI)'</option>
                                    <option value='Hungarian'>Hungarian (HU)</option>
                                    <option value='Icelandic'>Icelandic (IS)</option>
                                    <option value='Indonesian)'>Indonesian (ID)</option>
                                    <option value='Irish'>Irish (GA)</option>
                                    <option value='Italian'>Italian (IT)</option>
                                    <option value='Japanese'>Japanese (JA)</option>
                                    <option value='Korean'>Korean (KO)</option>
                                    <option value='Latin'>Latin (LA)</option>
                                    <option value='Latvian>Latvian'> (LV)</option>
                                    <option value='Lithuanian'>Lithuanian (LT)</option>
                                    <option value='Macedonian'>Macedonian (MK)</option>
                                    <option value='Malay'>Malay (MS)</option>
                                    <option value='Malayalam'>Malayalam (ML)</option>
                                    <option value='Maltese'>Maltese (MT)</option>
                                    <option value='Marathi'>Marathi (MR)</option>
                                    <option value='Mongolian'>Mongolian (MN)</option>
                                    <option value='Nepali'>Nepali (NE)</option>
                                    <option value='Norwegian'>Norwegian (NO)</option>
                                    <option value='Persian'>Persian (FA)</option>
                                    <option value='Polish'>Polish (PL)</option>
                                    <option value='Portuguese'>Portuguese (PT)</option>
                                    <option value='Punjabi'>Punjabi (PA)</option>
                                    <option value='Quechua'>Quechua (QU)</option>
                                    <option value='Romanian'>Romanian (RO)</option>
                                    <option value='Russian'>Russian (RU)</option>
                                    <option value='Samoan'>Samoan (SM)</option>
                                    <option value='Serbian '>Serbian (SR)</option>
                                    <option value='Slovenian'>Slovenian (SL)</option>
                                    <option value='Spanishx'>Spanish (ES)</option>
                                    <option value='Swedish'>Swedish (SV)</option>
                                    <option value='Tamil'>Tamil (TA)</option>
                                    <option value='Tatar'>Tatar (TT)</option>
                                    <option value='Telugu'>Telugu (TE)</option>
                                    <option value='Thai'>Thai (TH)</option>
                                    <option value='Tibetan'>Tibetan (BO)</option>
                                    <option value='Tonga'>Tonga (TO)</option>
                                    <option value='Turkish'>Turkish (TR)</option>
                                    <option value='Ukrainian'>Ukrainian (UK)</option>
                                    <option value='Urdu'>Urdu (UR)/option>
                                    <option value='Uzbek'>Uzbek (UZ)</option>
                                    <option value='Vietnamese'>Vietnamese (VI</option>
                                    <option value='Welsh'>Welsh (CY</option>
                                    <option value='Xhosa'>Xhosa (XH)</option>
                                </select>

                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Levels Language:</label>
                                <form>
                                    <!--<input class="datalist" type="text" list="levels12" ng-model="editLang.level"-->
                                    <!--placeholder="Choose level ..."/>-->

                                    <!--<datalist id="levels12">-->
                                    <!--<option value="Beginner"/>-->
                                    <!--<option value="Elementary"/>-->
                                    <!--<option value="Intermediate"/>-->
                                    <!--<option value="Advanced"/>-->
                                    <!--<option value="Proficient"/>-->
                                    <!--</datalist>-->
                                    <select ng-model="editLang.level" name='menu'>
                                        <option value='Beginner'>Beginner</option>
                                        <option value='Elementary'>Elementary</option>
                                        <option value='Intermediate'>Intermediate</option>
                                        <option value='Advanced'>Advanced</option>
                                        <option value='Proficient'>Proficient</option>
                                    </select>
                                </form>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="createLang()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">

    <div class="bd-example">
        <div class="modal fade" id="edit_skill" tabindex="-1" role="dialog" aria-labelledby="exEditSkill"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h4 class="modal-title" id="exEditSkill">Edit skill</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient3-name" class="form-control-label">Name Skill:</label>
                                <input type="text" class="form-control" id="recipient3-name"
                                       ng-model="skill">
                            </div>

                            <div class="form-group">
                                <label for="recipient3-name" class="form-control-label">Levels Skill:</label>
                                <form>
                                    <!--<input class="datalist" type="text" list="levels1"-->
                                    <!--ng-model="levelSkill" placeholder="Choose level ..."/>-->
                                    <!--<datalist id="levelsSkill">-->
                                    <!--<option value="Beginner"/>-->
                                    <!--<option value="Elementary"/>-->
                                    <!--<option value="Intermediate"/>-->
                                    <!--<option value="Advanced"/>-->
                                    <!--<option value="Proficient"/>-->
                                    <!--</datalist>-->
                                    <select ng-model="levelSkill" name='menu'>
                                        <option value='Beginner'>Beginner</option>
                                        <option value='Elementary'>Elementary</option>
                                        <option value='Intermediate'>Intermediate</option>
                                        <option value='Advanced'>Advanced</option>
                                        <option value='Proficient'>Proficient</option>
                                    </select>
                                </form>
                            </div>
                        </form>
                    </div>
                    {{updateSkill}}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " ng-click="">Add</button>
                        <button type="button" class="btn btn-danger" ng-click="">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

