<!-- end .uou-block-2b -->

<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>Personal Info</h2>
        </div>
    </div>
</div>

<!-- Compny Profile -->
<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->
                <div class="col-md-4">
                    <!-- Company Information -->
                    <div class="sidebar">
                        <h5 class="main-title">My Picture</h5>
                        <div class="sidebar-thumbnail"><img
                                src="https://www.sparklabs.com/forum/styles/comboot/theme/images/default_avatar.jpg"
                                alt=""></div>
                        <div class="sidebar-information">
                            <div class="form-group">
                                <input type="file" class="filestyle" ng-model="picture" data-icon="false">
                            </div>
                            </br>
                            <div>
                                <!-- Professional Details -->
                                <h5 class="main-title">Professional Details</h5>
                                <div class="sidebar-information">
                                    <ul class="single-category">
                                        </br>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Student ID</h6>
                                            <span class="subtitle col-xs-6">1921126474</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">First name</h6>
                                            <span class="subtitle col-xs-6">Manh Hung</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Last name</h6>
                                            <span class="subtitle col-xs-6">Huynh Ba</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Age</h6>
                                            <span class="subtitle col-xs-6">22 Years</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Address</h6>
                                            <span class="subtitle col-xs-6">42 Ly Trien</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Degree</h6>
                                            <span class="subtitle col-xs-6">University</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Sex</h6>
                                            <span class="subtitle col-xs-6">Male</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Phone</h6>
                                            <span class="subtitle col-xs-6">(+84) 905491875</span></li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">E-mail</h6>
                                            <span class="subtitle col-xs-6">huynhamanhhungg@gmail.com</a></span>
                                        </li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Status</h6>
                                            <span class="subtitle col-xs-6">I need a company</a></span>
                                        </li>
                                        <li class="row">
                                            <h6 class="title col-xs-4">Describe</h6>
                                            <span class="subtitle col-xs-6">I'm a senior student </a></span>
                                        </li>
                                    </ul>
                                    <a href="#/update_user">
                                        <input type="submit" class="btn btn-primary" value="Update">
                                    </a>
                                </div>
                                <!-- Rating -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="col-md-8">
                    <div class="network">
                        <div class="tab-content">

                            <!-- Connections -->
                            <div class="tab-pane fade in active">
                                <div class="net-work-in">

                                    <!-- Members -->
                                    <div class="main-mem">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Student ID:</label>
                                            <div class="col-lg-8">
                                                    <input class="form-control" type="text" ng-model="dtu_id "
                                                           placeholder="Enter student id...">
                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">First name:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="firstName"
                                                       placeholder="Enter first name...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Last name:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="lastName"
                                                       placeholder="Enter last name...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="email" ng-model="email"  validator="email"
                                                       placeholder="Enter Email...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Age:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="number" ng-model="age"  validator="number"
                                                       placeholder="Enter Age...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Address:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="address"
                                                       placeholder="Enter Address...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Phone:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="phone"
                                                       placeholder="Enter phone...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Sex:</label>
                                            <div class="col-lg-8">
                                                <div class="example">
                                                    <div >
                                                        <input id="radio1" type="radio" name="radio" ng-value='"male"' ng-model="result">
                                                        <label for="radio1"><span><span></span></span>Male</label>
                                                        &nbsp; &nbsp;
                                                        <input id="radio2" type="radio" name="radio" ng-value='"female"' ng-model="result">
                                                        <label for="radio1"><span><span></span></span>Female</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Degree:</label>
                                            <div class="col-lg-8">
                                                <!--<input list="eLevels" name="eLevel" />-->
                                                <input list="eLevels" class="form-control" type="text"
                                                       name="eLevel" placeholder="Choose degree...">
                                                <datalist id="eLevels">
                                                    <option value="High School">
                                                    <option value="Associate Degree">
                                                    <option value="Bachelors Degree">
                                                    <option value="Graduate Degree">
                                                </datalist>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Status:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="status"
                                                       placeholder="Enter status...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Describe:</label>
                                            <div class="col-lg-8">
                                                <textarea rows="4" cols="50" ng-model="desscribe"
                                                          placeholder="Enter describe..."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="button" class="btn btn-primary" ng-click="post(result)"
                                                       value="Save Changes">
                                                <span></span>
                                                <input type="reset" class="btn btn-default" value="Cancel">
                                                <span></span>
                                                {{update}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
