<!-- end .uou-block-2b -->

<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>Update Education</h2>
        </div>
    </div>
</div>

<!-- Compny Profile -->
<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->


                <!-- Tab Content -->
                <div class="col-md-12">
                    <div class="network">
                        <div class="tab-content">

                            <!-- Connections -->
                            <div class="tab-pane fade in active">
                                <div class="net-work-in">

                                    <!-- Members -->
                                    <div class="main-mem">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Name school :</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text"
                                                       ng-model="updateEduca.name_of_school"
                                                       placeholder="Enter name...">
                                            </div>


                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Address school:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text"
                                                       ng-model="updateEduca.address_of_school"
                                                       placeholder="Enter address...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Phone school:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text"
                                                       ng-model="updateEduca.phone_of_school"
                                                       placeholder="Enter phone...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Website :</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="email"
                                                       ng-model="updateEduca.website_of_school"
                                                       placeholder="Enter website...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Major :</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="updateEduca.major"
                                                       placeholder="Enter major...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Achiviement :</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="updateEduca.achiviement"
                                                       placeholder="Enter achiviement...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Time :</label>
                                            <div class="col-lg-4">
                                                <div class="input-group date">
                                                    <div class="dateholder">
                                                        <input type="date" class="datepicker"
                                                               ng-model="updateEduca.from_date">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="input-group date">
                                                    <div class="dateholder">
                                                        <input type="date" class="datepicker"
                                                               ng-model="updateEduca.to_date">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Describe:</label>
                                            <div class="col-lg-8">
                                                <textarea rows="4" cols="50" ng-model="updateEduca.describe"
                                                          placeholder="Enter describe..."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="button" class="btn btn-primary" ng-click="createEdu()"
                                                       value="Save Changes">
                                                <span></span>
                                                <input type="reset" ng-click="doTheBack()" class="btn btn-default"
                                                       value="Cancel">
                                                <span></span>
                                                {{update}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

