<div id="main-wrapper">
    <div class="compny-profile">
        <!-- SUB Banner -->
        <div class="profile-bnr user-profile-bnr">
            <div class="container">
                <div class="pull-left">
                    <h2>PROJECT</h2>
                    <h5>Information Student </h5>
                </div>
                <div class="buttonRightImg">
                    <a href=""><img
                            src="https://cdn2.iconfinder.com/data/icons/flat-user/114/user-check-512.png"></a>
                    <p class="verified">Verified</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Company Content -->
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
        <div class="container">
            <div class="row">

                <!-- Nav Tabs -->
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="" ng-click="changetap(1)">Profile</a>
                        </li>
                        <!--<li><a data-toggle="tab" ui-sref="education/username={{userTempSc}}">Education</a></li>-->
                        <li><a data-toggle="tab" href="" ng-click="changetap(2)">Education</a></li>
                        <li class="active"><a class="active" data-toggle="tab" href=""
                                              ng-click="changetap(3)">Project</a></li>
                        <li><a data-toggle="tab" href="" ng-click="changetap(4)">Job</a></li>
                        <li><a data-toggle="tab" href="" ng-click="changetap(5)">Approve</a></li>
                    </ul>
                </div>

                <!-- Tab Content -->
                <div class="col-md-12">
                    <div class="tab-content">

                        <!-- PROFILE -->
                        <div id="profile" class="tab-pane fade in active">
                            <div class="row">

                                <div class="col-md-12">
                                    <!-- Skills -->
                                    <div class="sidebar">
                                        <h5 class="main-title">Projects</h5>
                                        <div class="job-skills">

                                            <!-- Logo Design -->
                                            <div class="listing listing-1">
                                                <div class="listing-section" ng-if="!status.toggle"
                                                     ng-include="'src/scripts/user/profile_user/education/form.content.html'">
                                                </div>

                                                <div class="listing-section" ng-if="status.toggle"
                                                     ng-include="'src/scripts/user/profile_user/education/form.edit.html'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Jobs -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


