<!-- end .uou-block-2b -->

<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2>Company Info</h2>
        </div>
    </div>
</div>

<!-- Compny Profile -->
<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->
                <div class="col-md-4">
                    <!-- Company Information -->
                    <div class="sidebar">
                        <h5 class="main-title">My Picture</h5>
                        <div class="sidebar-thumbnail"><img
                                src="http://ataccama.pracevpraze.cz/images/no_avatar_company.png"
                                alt=""></div>
                        <label>Enter link your image here :</label>
                        <input type="text">
                        <div class="sidebar-information">
                            <div class="form-group">
                                <input type="file" class="filestyle" ng-model="picture" data-icon="false">
                            </div>
                            </br>
                            <div>
                                <!-- Professional Details -->
                                <h5 class="main-title">Professional Details</h5>
                                <div class="sidebar-information">
                                    <br>
                                    <ul class="single-category">
                                        <li class="row">
                                            <h6 class="title col-xs-6">Username :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.username)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Industry :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.industry_company)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Email :</h6>
                                            <a href=""><span class="subtitle col-xs-6">{{checkNull(company.email)}}</span></a> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Address :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.address)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Number of Employees :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.number_of_member)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Industry Company :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.industry_company)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Phone :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.phone)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Realm :</h6>
                                            <span class="subtitle col-xs-6">{{checkNull(company.realm)}}</span> </li>
                                        <li class="row">
                                            <h6 class="title col-xs-6">Website :</h6>
                                            <a href=""><span class="subtitle col-xs-6">{{checkNull(company.website)}}</span> </a></li>
                                    </ul>
                                    <a href="#/update_user">
                                        <input type="submit" class="btn btn-primary" value="Update">
                                    </a>
                                </div>
                                <!-- Rating -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab Content -->
                <div class="col-md-8">
                    <div class="network">
                        <div class="tab-content">

                            <!-- Connections -->
                            <div class="tab-pane fade in active">
                                <div class="net-work-in">

                                    <!-- Members -->
                                    <div class="main-mem">

                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Name company:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="objCompany.name_company"
                                                       placeholder="{{checkNull(company.username)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Address:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="objCompany.address"
                                                       placeholder="{{checkNull(company.address)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Industry company:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="objCompany.industry_company"
                                                       placeholder="{{checkNull(company.industry_company)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Number of member:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="number" ng-model="objCompany.number_of_member"
                                                       placeholder="{{checkNull(company.number_of_member)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Phone:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="objCompany.phone"
                                                       placeholder="{{checkNull(company.phone)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Website:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="objCompany.website"
                                                       placeholder="{{checkNull(company.website)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email:</label>
                                            <div class="col-lg-8">
                                                <input class="form-control" type="text" ng-model="objCompany.email"
                                                       placeholder="{{checkNull(company.email)}}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Describe:</label>
                                            <div class="col-lg-8">

                                                <textarea rows="4" cols="50" ng-model="objCompany.describe"
                                                          placeholder="{{checkNull(company.describe)}}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="button" class="btn btn-primary" ng-click="post()" value="Save Changes">
                                                <span></span>
                                                <input type="reset" class="btn btn-default" ng-click="doTheBack()" value="Cancel">
                                                <span></span>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- Footer -->
