
<div ng-if="idNullJob"><my-datanull></my-datanull></div>
<div  ng-if="!idNullJob" class="listing-ver-3" ng-repeat="job in jobs">
    <div class="listing-heading">
        <h5>Company : {{job.name_of_company}}</h5>
    </div>
    <div class="listing-inner">
        <div class="listing-content">

            <h6 class="title-company">Infomation Company Inc.</h6>
            <br>
            <div class="padding">
                <i class="fa fa-map-marker"></i> <strong>Address: &nbsp; </strong> <span class="location">{{job.address_of_company}} </span>
                | <span class="type-work">{{job.type_work}}</span>
            </div>
            <div class="padding">
                <i class="fa fa-calendar"> </i> <strong>Time : &nbsp; &nbsp;</strong> <span class="time"> {{job.from_date}} - {{job.to_date}} </span>
            </div>
            <div class="padding">
                <i class="fa fa-user"> </i> <strong>Position : &nbsp; &nbsp;</strong> <span>{{job.position}} </span>
            </div>
            <div class="padding">
                <i class="fa fa-user"> </i> <strong>Type work : &nbsp; &nbsp;</strong> <span>{{job.type_work}} </span>
            </div>
            <div class="padding">
                <i class="fa fa-phone"> </i> <strong>Phone : &nbsp; &nbsp;</strong>
                <span> {{job.phone_of_company}} </span>
            </div>
            <div class="padding">
                <i class="fa fa-globe"> </i> <strong>Website : &nbsp; &nbsp;</strong>
                <span>  {{job.website_of_company}}</span>
            </div>
            <p>{{job.describe}}</p>
        </div>
        <div class="editJob">
            <input ng-if="checkShowBtn()" type="button" class="btn btn-primary" ng-model="job.name"
                   ng-click="edit(job.id)" value="Edit">
        </div>
        <br>

    </div>
</div>
<div class="back">
    <a href="" ng-if="checkShowBtn()" data-toggle="modal"
       data-target="#exampleModaledu">Add Job</a>
    &nbsp; &nbsp;
    <a href="" ng-click="doTheBack()">Back</a>

</div>


