<div id="main-wrapper">


    <div class="compny-profile" ng-if="!status.toggle404">
        <!-- SUB Banner -->
        <div class="profile-bnr">
            <div class="container">

                <!-- User Iinfo -->
                <div class="user-info">
                    <h1>ENCLAVE. <a data-toggle="tooltip" data-placement="top" title="Verified Member"><img src="resource/user/images/icon-ver.png" alt="" ></a> </h1>
                    <h6>{{checkNull(company.Website)}}</h6>
                    <p>{{checkNull(company.address)}} St, {{checkNull(company.industry_company)}}</p>
                    
                </div>

            </div>
        </div>
        <!-- Profile Company Content -->
        <div class="profile-company-content main-user" data-bg-color="f5f5f5">
            <div class="container">
                <div class="row">

                    <div class="col-md-4">

                        <div class="sidebar">
                            <h5 class="main-title">Company Information</h5>

                            <div class="sidebar-information">
                                <ul class="single-category">
                                    <li class="row">
                                        <h6 class="title col-xs-6">Username :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.username)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Industry :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.industry_company)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Email :</h6>
                                        <a href=""><span class="subtitle col-xs-6">{{checkNull(company.email)}}</span></a> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Address :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.address)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Number of Employees :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.number_of_member)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Industry Company :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.industry_company)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Phone :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.phone)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Realm :</h6>
                                        <span class="subtitle col-xs-6">{{checkNull(company.realm)}}</span> </li>
                                    <li class="row">
                                        <h6 class="title col-xs-6">Website :</h6>
                                        <a href=""><span class="subtitle col-xs-6">{{checkNull(company.website)}}</span> </a></li>
                                </ul>
                            </div>
                            <br>
                            <a href="#/update_company/username={{company.username}}">
                                <input type="submit" class="btn btn-primary" value="Update">
                            </a>
                        </div>
                    </div>

                    <!-- Tab Content -->
                    <div class="col-md-8">
                        <div class="tab-content">

                            <!-- PROFILE -->
                            <div id="profile" class="tab-pane fade in active">
                                <div class="profile-main">
                                    <h3>About the Company</h3>
                                    <div ng-if="checkNullCom(company.describe)">
                                        <my-datanull></my-datanull>
                                    </div>

                                    <div class="profile-in" ng-if="!checkNullCom(company.describe)">
                                        <p>{{company.describe}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="status.toggle404"
         ng-include="'src/component/user/loading/loading.html'"></div>
</div>

