<ul class="single-category">
    <div ng-if="isNullInter = checkNullArr(inters)">
        <my-datanull></my-datanull>
    </div>
    <div ng-if="!isNullInter">
        <li class="row" ng-repeat="inter in inters">

            <h6 class="title col-xs-9">{{inter.name}}</h6>
            <div class="col-xs-3">
                <a href="" ng-show="isToggle" ng-click="deleteInter(inter.id)"><i class="edit-pen fa fa-remove">
                </i></a>

                <a href="" ng-show="isToggle" ng-click="changeUpdateInter(inter.id, inter.name)"><i class="edit-pen fa fa-edit">
                    &nbsp; &nbsp;
                </i></a>
            </div>
        </li>
    </div>
    <br>
</ul>