<div class="uou-block-4e">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6"> <a href="#" class="logo"><img src="resource/user/images/Logo2.png" alt=""></a>
                <ul class="contact-info has-bg-image contain" data-bg-image="resource/user/images/footer-map-bg.png">
                    <li> <i class="fa fa-map-marker"></i>
                        <address>
                            182 Nguyen Van Linh, TP.Da Nang, Viet Nam , ZC 55000
                        </address>
                    </li>
                    <li> <i class="fa fa-phone"></i> <a href="tel:#">(123) 456-7890</a> </li>
                    <li> <i class="fa fa-envelope"></i> <a href="mailto:#">duytan@gmail.com</a> </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Twitter Feed</h5>
                <ul class="twitter-feed">
                    <li>  <a href="#">@duytan</a>: Now this <a href="#">https://twitter.com/uniduytan</a> Address twitter of Duy Tan University  <a href="#">@DTU</a>  </li>
                    <li> <a href="#">https://twitter.com/uniduytan</a> </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Companys Other</h5>
                <ul class="photos-list">
                    <li><img src="resource/user/images/photostream4.jpg" alt=""></li>
                    <li><img src="resource/user/images/photostream6.jpg" alt=""></li>
                    <li><img src="resource/user/images/photostream3.jpg" alt=""></li>
                    <li><img src="resource/user/images/photostream2.jpg" alt=""></li>
                    <li><img src="resource/user/images/photostream1.jpg" alt=""></li>
                    <li><img src="resource/user/images/photostream.jpg" alt=""></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h5>Newsletter</h5>
                <p>Subscribe to our newsletter to receive our latest news and updates. We do not spam.</p>
                <form class="newsletter-form" action="#">
                    <input type="email" placeholder="Enter your email address">
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end .uou-block-4e -->

<div class="uou-block-4a secondary dark">
    <div class="container">
        <ul class="links">
            <li><p>Email :</p> </li>
            <li><a href="#">huynhbamanhhungg@gmail.com</a></li>
        </ul>
        <p>Dev Website front end :  <a href="#">HUYNH BA MANH HUNG </a>
    </div>
</div>
<!-- end .uou-block-4a -->


